.header{
  margin-top: 30px;
  padding: 10px;
  box-shadow:
      inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border: 2px solid gold;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 40px;
  height: 40px;
  padding-left: 10px;
  margin: auto 0;
}
.sign{
  display: inline-block;
  background-color: inherit;
  border: 1px solid rgb(26, 26, 25);
  padding: 7px;
}
.sign:hover{
  border: 1px solid rgb(220, 197, 62);
  color: rgb(220, 197, 62);
  transition: all .5s;
}
.log{
  background-color: rgb(220, 197, 62);
  padding: 7px;
  color: #fff;
  transition: all .5s;
}
.log:hover{
  background-color: rgb(26, 26, 25);
  color: #fff;
}
.reg{
  width: 200px;
  display: flex;
  justify-content: space-between;
  
}
.auth{
  margin-top: 7px;
  margin-bottom: 7px;
}