.navbar{
  margin-top: 50px;
  max-width: 200px;
  width: 100%;
  padding: 10px;
  box-shadow:
      inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border: 2px solid gold;
  font-size: 26px;
  line-height: 30px;
  color: rgb(26, 26, 25);
  height: 500px;
}
.navbar__list{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.navbar__item{
  display: inline-block;
  padding-bottom: 20px;
  cursor: pointer;
  transition: all .5s;
}
.navbar__item:hover{
  color: rgb(220, 197, 62);
}
.active{
  color: rgb(220, 197, 62);
  padding-bottom: 20px;
  cursor: pointer;
  transition: all .5s;
}