.profile__status{
  font-size: 18px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.profile__info{
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.profile__tags{
  margin-right: 40px;
}
.profile__tag{
  font-weight: 700;
}
.profile__box{

}
.profile__text{

}